@layer reset {
  * {
    box-sizing: border-box;
  }
}

@layer global {
  @font-face {
    font-family: "Inter";
    src: local("Inter");
  }

  body {
    margin: 0;
  }

  :root {
    font-family: Inter, system-ui, sans-serif;
    font-size: 16px;
    height: 100vh;
    --code-bg: #EEEEEE;

    scroll-padding-top: 43px;
  }

  button, input[type=button] {
    /* font: inherit; */
    font-family: monospace;
    font-size: 16px;
  }
  code {
    font-family: "Fira Code", monospace;
    background-color: var(--code-bg);
  }

  pre:has(> code) {
    overflow-x: scroll;
    background-color: var(--code-bg);
    padding: 1.0em;
  }

  main {
    margin-inline: auto;
    width: min(90%, 800px);
    padding-block-end: 0.5em;
  }
  :host(nav-header) {
    position: sticky;
    top: 0;
    font-size: 1.2rem;
    width: 100vw;

    nav {
      background-color: rgba(184, 144, 242, 1);
      padding-block: 0.5em;
    }
    ul {
      display: flex;
      padding: 0;
      margin: 0;
      flex-wrap: wrap;
      justify-content: space-evenly;
      list-style-type: none;
    }
    li {
      flex-grow: 1;
      text-align: center;
    }
    a {
      text-decoration: underline 2px;
      color: black;
    }
  }

  my-tabs {
    nav {
      display: flex;
      gap: 15px;
      a {
        color: black;
      }
    }
    section {
      display: flex;
      overflow-x: hidden;
      /* width: 100%; */
      article {
        flex: none;
        width: 100%;
      }
    }
  }
}
